body {
    font-size: 16px; 
}

.release {
    margin-bottom: 4rem; 
}
  
main h1 {
    font-size: 3rem; 
}

.release h2 {
    font-size: 1.5rem; 
}

.release .links ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li a {
    font-size: 1rem;
  }

.release .description {
    margin: 0.5rem 0;
    padding: 0 1.25rem;
    font-size: 1rem; 
    line-height: 1.4;
}
  
.video-container iframe,
.video-container object,
.video-container embed {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto; 
    width: 400px;
    height: 300px;
}

.home-link {
    font-size: 1rem;
    margin-bottom: 2rem; 
    display: block; 
}

@media (min-width: 768px) {
    main h1 {
      font-size: 9rem; 
    }
  
    .release h2 {
      font-size: 5rem; 
    }
  
    .release .description {
      font-size: 1.5rem; 
    }
  
    .home-link {
        font-size: 1.5rem; 
    }
  }