/* 全体的なスタイル */
body {
  font-family: "Times New Roman", "游明朝", YuMincho, serif;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 16px;
  max-width: 1200px;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* ナビゲーション */
.site-nav {
  text-align: center;
  margin: 5rem 0;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* flexboxを適用 */
  justify-content: center; /* 中央寄せ */
  flex-wrap: wrap; /* 折り返しを許可 */
}

.site-nav ul li {
  margin: 0 1rem;
}

.site-nav ul li a {
  color: #000000;
  text-decoration: underline;
  font-size: 1.5rem; /* 相対的なサイズ指定 */
}

.site-nav ul li a:hover {
  color: #686868;
}